body{
	font-family:Verdana,Arial,sans-serif;
	font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
	margin:0 auto;
	width:600px;
	padding:14px;
}

#stylized{
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
}
#stylized h1 {
	font-size:16px;
	font-weight:bold;
	margin-bottom:8px;
	border-bottom:solid 1px #b7ddf2;
}

#stylized p.last {
	border-bottom:solid 1px #b7ddf2;
}

#stylized h2 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}

#stylized p{
	font-size:12px;
	color:#666666;
	padding-bottom:10px;
}
#stylized label{
	clear: both;
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}
#stylized .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
#stylized input{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}
#stylized button{
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	background:#666666 url(img/button.png) no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

#stylized ul {
	font-size:12px;
	color:#666666;
	margin-top: 0px;
}